# ===================================================
# Global System Files (macOS)
# ===================================================
.DS_Store
Icon?

# ===================================================
# Python
# ===================================================
# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# ===================================================
# pyenv
# ===================================================
.python-version

# ===================================================
# Function App and Logs
# ===================================================
*.log

# ===================================================
# Azurite Emulator Data & Logs
.azurite/
azurite_db/
azurite_logs/

# ===================================================
# IDE / Editor Files
# ===================================================
.idea/
.env

.python_packages