# ===================================================
# Global System Files (macOS)
# ===================================================
.DS_Store
Icon?

# ===================================================
# Python
# ===================================================
# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/
.envrc

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec
.coverage
.coverage.*
coverage.xml
htmlcov/

# ===================================================
# pyenv
# ===================================================
.python-version

# Python tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.cache/

# ===================================================
# Function App and Logs
# ===================================================
*.log
local.settings.json
.azurefunctions/

# ===================================================
# Azurite Emulator Data & Logs
.azurite/
azurite_db/
azurite_logs/

# ===================================================
# IDE / Editor Files
# ===================================================
.idea/
.vscode/
*.code-workspace
.env

.python_packages/